*{
  box-sizing: border-box;
}
.App{
  background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
height: 100vh;
width: 100vw;
}

.header{
width: 100vw;
height: 10vh;
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 350px;

}

.header > h1{
color: gold;

}

.nav-bar{
display: flex;
width: 60%;
height: 100%;
align-items: center;
}

.nav-list{
display:flex;
width:100%;
height: 100%;
flex-direction: row;
justify-content: space-around;
align-items: center;
padding-right: 350px;
}

.nav-item{
color:white;
list-style-type: none;
}

.mobile-nav-list{

}

.body{

}

.welcome-text{

}

.meet-you{

}

.more-button{

}